name: Buf CI
on:
  push:
    paths:
    - '**.proto'
    - '**/buf.yaml'
    - '**/buf.lock'
    - '**/buf.md'
    - '**/README.md'
    - '**/LICENSE'
  pull_request:
    types: [ opened, synchronize, reopened, labeled, unlabeled ]
  delete:
permissions:
  contents: read
  pull-requests: write
jobs:
  buf:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: bufbuild/buf-action@v1
      with:
        token: ${{ secrets.BUF_TOKEN }}
        lint: ${{ github.event_name == 'push' }}
        format: ${{ github.event_name == 'push' }}
        breaking: ${{ github.event_name == 'push' && !contains(github.event.head_commit.message, 'buf skip breaking') }}
        breaking_against: .git#branch=main
