name: CI
on:
  push:
    branches:
    - main
    tags:
    - v*.*.*
  pull_request:
    branches:
    - main
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
jobs:
  auto-tag:
    runs-on: ubuntu-latest
    needs: unittest
    # https://docs.github.com/en/actions/learn-github-actions/contexts#context-availability
    # https://docs.github.com/en/actions/learn-github-actions/expressions
    if: ${{ github.ref == 'refs/heads/main' }}
    env:
      COMMIT_MESSAGE: ${{ github.event.head_commit.message }}
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v4
      with:
        fetch-depth: "0"
    - run: |
        git config --global user.name "Github Action Bot"
        git config --global user.email "vinea-dev@users.noreply.github.com"
        type=patch
        pattern="^Merge pull request #[0-9]+ from vinea-dev/release.*"
        echo "commit message: $COMMIT_MESSAGE"
        if [[ $COMMIT_MESSAGE =~ $pattern ]]; then
          echo "bump up minor version number"
          type=minor
        fi
        ./scripts/auto_bump_version.sh $type
        git push origin main --follow-tags
